[2018-04-10 10:51] astrojuanlu opened #2 "First release TODO list"
* [x] Complete docs: API Reference, (short) User Guide, Development Docs
* [x] Add a License :exclamation:
* [x] Notebook cleanup
* [x] README: Better description, badges
* [x] Preparation for pip 10.0 and PEP 518 (`pyproject.toml`)
* [x] Tag v0.1.0rc1, test in https://test.pypi.org/, push v0.1.0 to https://pypi.org
* [ ] Announcement on python-announce

Left out: wheel auto deployment.

[2018-04-10 17:03] astrojuanlu commented on #2
After #3 is merged, we can tag and release.

[2018-04-12 10:20] astrojuanlu commented on #2
Released! Only announcement left.

[2018-04-15 03:54] drnextgis opened #5 "Plotting FileCollection with Jupyter Notebook"
Hello and thanks for your amazing work!

Is it possible to plot FileCollection with Jupyter Notebook? Now I get the following error:

[code]

[2018-04-15 03:56] astrojuanlu commented on #5
Thanks for the issue report @drnextgis! Should be possible, can you share your `326.geojson` so I can take a look?

[2018-04-15 03:57] drnextgis commented on #5
Of course: http://rykovd.nextgis.com/api/resource/326/geojson

[2018-04-15 04:04] drnextgis commented on #5
Sorry for noise, it looks like my fail. All works fine if to install Fiona from PyPI:

![screenshot from 2018-04-15 11-02-24](https://user-images.githubusercontent.com/866124/38774903-9d64f2c6-409c-11e8-903b-59402e7a16e2.png)

I've tested GDAL virtual file system that has landed in Fiona's trunk and forget switch back to PyPI version.

[2018-04-15 04:05] astrojuanlu commented on #5
It plots okay for me:

![screenshot-2018-4-15 untitled](https://user-images.githubusercontent.com/316517/38774898-a379596a-4072-11e8-8e7c-b88effc26a61.png)

these are the contents of my GDAL_DATA:

[code]

Perhaps there's some sort of configuration issue?

[2018-04-15 04:05] astrojuanlu commented on #5
Hah, you were some seconds ahead of me :) Glad to see it's working, with your permission I'm closing. Please keep the feedback coming!

[2018-04-15 04:05] #5 closed, assigned to nobody

[2018-04-18 17:12] astrojuanlu opened #6 "Upload Docker image to dockerhub"

[2018-04-19 16:45] astrojuanlu opened #7 "Improve plotting"
At the moment, default plotting is using a simple Folium map which has bad performance, and more complex `.plot` using ipyleaflet is still limiting the maximum number of features:

https://github.com/satellogic/telluric/blob/master/telluric/collections.py#L179-L183

We have to re-evaluate if this is needed.

Also, mapboxgl-jupyter just released a new version with Choropleth support:

https://githu

[2018-04-26 13:35] astrojuanlu opened #10 "Add support to compute geodetic distances and lengths"

[2018-04-27 14:14] astrojuanlu opened #11 "Add conda-forge packages"
Documentation: https://conda-forge.org/docs/recipe.html

[2018-04-27 14:51] GadgetSteve opened #12 "Documentation: Area is in square meters not meters"
On the readthedocs page: http://telluric.readthedocs.io/en/v0.1.0/User%20Guide.html

### Expected behavior and actual behavior

The comment on `In [6]: gv1.area  # Real area in meters` this should read `In [6]: gv1.area  # Real area in square meters`

### Steps to reproduce the problem

Just read the documents.

### Operating system and installation details

Any & All.

[2018-04-27 14:54] astrojuanlu commented on #12
Hi @GadgetSteve, thanks for the issue report! You're right that's incorrect, would you like to edit the file yourself and make a contribution?

https://github.com/satellogic/telluric/blob/master/docs/source/User%20Guide.ipynb

[2018-04-27 15:25] GadgetSteve commented on #12
I would be happy to - the only question is in a fork or directly?

[2018-04-27 15:49] #12 closed, assigned to nobody

[2018-04-27 15:49] astrojuanlu commented on #12
I see that you already figured that out :) Thanks!

[2018-04-27 18:08] djhoese opened #14 "Collaboration with PyTroll"
Hi,

I couldn't find any information in your documentation about a chat room or mailing list so I thought I'd make an issue here. I'm a core developer on the PyTroll team (http://pytroll.github.io/). I saw your email on the python-announce mailing list and thought we could discuss collaboration. Your package is very interesting and you have some similar features to our package SatPy (https://githu

[2018-04-30 17:55] astrojuanlu commented on #14
Hi @djhoese,

Thanks a lot for reaching out! You're right that there's no official chat or mailing list (yet), but it's perfectly OK to have this conversation over GitHub issues.

We are glad that the PyTroll folks noticed our efforts. We were of course aware of the project and the potential overlap - I cannot speak on behalf of my whole team or the company, but undoubtedly the GPLv3 license playe

[2018-05-01 12:43] djhoese commented on #14
Sounds good. Do you or your colleagues ever attend atmospheric science conferences like those hosted by EUMETSAT? A lot of the pytroll developers live in Scandinavia and attend meteorological conferences in Europe.

As for the license, we have considered changing it in the past, everything from BSD/MIT to LGPL. Every time someone has brought it up to us (organizations thinking their lawyers wouldn

[2018-05-01 13:10] arielze opened #16 "python interpreter crashes on raster.save"
creating a simple raster crashes the python interpreter on save.
problem can be reproduced wit::

[code]

[2018-05-01 14:07] guydou commented on #16
It is the overview code,
disable the overviews and it works:
[code]

the problem is the factor calculation

https://github.com/satellogic/telluric/blob/master/telluric/georaster.py#L565

if we create overview only upto factor 32, then the code will pass.

How can we know if the factors make sense?

[2018-05-01 15:01] drnextgis commented on #16
We can introduce maximum width or height of the smallest overview level like it has been done in recent GDAL (`minsize` option of gdaladdo).

[2018-05-01 15:18] arielze opened #17 "Affine is not saved on when affine equals (1.00, 0.00, 0.00, 0.00,-1.00, 0.00)"
When saving a GeoRaster2 with affine:
[code]
reading the saved raster returns affine:
[code]
Sample code:
[code]

[2018-05-01 16:00] astrojuanlu commented on #17
I can reproduce this, even with the latest version of rasterio.

[2018-05-02 16:55] drnextgis commented on #16
Original issue was fixed in GDAL couple of hours ago: https://github.com/OSGeo/gdal/commit/f7c27a807b27cf74cf4666ffe3df4d64cc3f47b3. It is possible to use the similar approach for calculating max factor value: if we already have a 1x1 overview then don't create a new one.

[2018-05-02 17:50] drnextgis opened #18 "Use maximum width or height for calculating overviews factors"
It is common practice to calculate overviews factors using maximum width or heigh of raster. But in _overviews_factors method [here](https://github.com/satellogic/telluric/blob/master/telluric/georaster.py#L1263) min function is used. Was it done intentionally?

[2018-05-07 10:34] astrojuanlu commented on #18
@arielze What do you think?

[2018-05-07 10:35] astrojuanlu commented on #18
Also @drnextgis, can you share some existing code when we can see this common practice? Or why does it matter? (honest question, I don't know it myself)

[2018-05-07 10:37] astrojuanlu commented on #11
On hold until rasterio 1.0 is released, see https://github.com/conda-forge/staged-recipes/pull/5748 (now closed)

[2018-05-07 10:38] arielze commented on #18
I think it should be minimum because maximum can result in a too high factor, which probably is the case we have now

[2018-05-07 10:41] astrojuanlu commented on #14
We have not yet attended those conferences, but that might change in the future.

Regarding the license, we respect your decision of using strong copyleft and understand your motivations. I definitely don't want to discuss which one is better :) and acknowledge that there are pros and cons. But of course, if SatPy changed to a more permissive license, we could reuse more code and have a closer col

[2018-05-07 10:48] astrojuanlu commented on #16
Thanks @drnextgis! I guess a fix will be released as part of GDAL 2.3.1, or 2.4.0 at most? In any case we should support older versions as well, so perhaps we should do as you say:

[2018-05-07 11:10] astrojuanlu commented on #16
Also, thanks for reporting this upstream: https://github.com/mapbox/rasterio/issues/1333

[2018-05-07 14:13] #2 closed, assigned to nobody

[2018-05-07 14:46] drnextgis commented on #16
@Juanlu001 what do you think the best place to fix this issue: here or directly in Rasterio?

[2018-05-07 16:04] astrojuanlu commented on #17
Reported this upstream: https://github.com/mapbox/rasterio/issues/1336

[2018-05-07 16:15] drnextgis commented on #18
I treated the `blocksize` argument here like gdaladdo's `minsize` [option](http://www.gdal.org/gdaladdo.html) (maximum width or height of the smallest overview level, related code [here](https://github.com/OSGeo/gdal/blob/master/gdal/apps/gdaladdo.cpp#L293-L294)). So I expected that result of `_overviews_factors(blocksize=256)` over the 1024x256 image should be [2, 4] but now it []:

[code]

[2018-05-07 16:19] astrojuanlu commented on #16
@drnextgis The rasterio developers have labeled the issue as `post-1.0`, so I think it would be positive if we have a workaround in place ourselves. But I will leave this issue as `good first issue`, for potential contributors.

[2018-05-07 16:28] astrojuanlu opened #19 "FeatureCollection.save has side effects on heterogeneous collections"
When a `FeatureCollection` contains features with different attributes, `.save` "fills" the missing ones with `None`:

[code]

[2018-05-07 16:43] astrojuanlu opened #20 "FeatureCollection.save does not retain types"
### Expected behavior and actual behavior

When saving a `FeatureCollection.save` and then `FileCollection.open`, the user would expect to recover exactly the same collection. However, all the resulting types are converted to strings.

### Steps to reproduce the problem

[code]

### Operating system and installation details

Linux Mint 18.3, latest telluric.

[2018-05-07 17:05] astrojuanlu opened #21 "Cropping raster with GeoVector bigger than world bounds fails"
### Expected behavior and actual behavior

Cropping any raster with any `GeoVector` should work. Instead, if the `GeoVector` is bigger than the world, an error is raised.

[simple_world.geojson.zip](https://github.com/satellogic/telluric/files/1980736/simple_world.geojson.zip)

### Steps to reproduce the problem

[code]

Notice that with a simple `.buffer(-1)` the problem is solved in this case:

[2018-05-08 09:28] astrojuanlu opened #22 "Implement proper geodesic buffering"
### Expected behavior and actual behavior

When doing `GeoVector.buffer` the user would expect for proper geodesic buffering to happen, as described in this article:

https://www.esri.com/news/arcuser/0111/geodesic.html

![geodesic_2_lg](https://user-images.githubusercontent.com/316517/39749219-64e59b08-52b2-11e8-89e1-ad9f83bc1fce.gif)

Instead, the wrong result is displayed.

### Steps to reprodu

[2018-05-08 09:57] astrojuanlu opened #23 "Properly represent geometries that cross the antimeridian"
The first polygon does not cross the antimeridian, the second does:

![screenshot-2018-5-8 talk 3](https://user-images.githubusercontent.com/316517/39751885-fa557e04-52b9-11e8-8945-6c480c65c896.png)

This might be an intrinsic limitation of the projection, but anyway we can do better than returning a clearly wrong result without warning.

[2018-05-08 14:22] astrojuanlu commented on #23
Tom MacWright proposes several strategies:

https://macwright.org/2016/09/26/the-180th-meridian.html

And, in particular, the GeoJSON standard suggests cutting the geometries:

https://tools.ietf.org/html/rfc7946#section-3.1.9

There's no specific function for cutting in Shapely, but this could help:

https://gis.stackexchange.com/a/232861/99665

However, some work is needed to offset the coordina

[2018-05-08 15:11] astrojuanlu commented on #22
(Notice that there is the combination of two problems here, see #23)

[2018-05-08 15:29] astrojuanlu commented on #22
A good starting point for geodesic buffering is this exquisite paper "Algorithms for geodesics" by Charles F. F. Karney, where modern algorithms to compute the direct and inverse problems of the geodesic distance are developed:

https://arxiv.org/abs/1109.4448

(discovered from https://www.wikiwand.com/en/Vincenty%27s_formulae)

An undocumented version of the direct problem is implemented in GeoPy

[2018-05-09 07:31] drnextgis commented on #20
It comes from [here](https://github.com/satellogic/telluric/blob/master/telluric/collections.py#L260). Which type we should use for attribute if different features has values of different type for the same attribute?

[2018-05-09 08:33] astrojuanlu commented on #20
I guess you mean this:

https://github.com/satellogic/telluric/blob/8be81d2cf92a26f52720c3c0be5c596184839dcd/telluric/collections.py#L259-L262

(use the "copy permalink" option)

![screenshot-2018-5-9 satellogic telluric 1](https://user-images.githubusercontent.com/316517/39804284-ec0a0f6c-5373-11e8-9c19-57cc6a9d5179.png)

That is the key question. We could follow a similar approach to what we're

[2018-05-09 09:05] arielze opened #25 "`get_tiles` occasionally returns white borders around the tile"
see attached example of tiles generated using `get_tile` and presented in `Folium`:
![get_tile_white_borders](https://user-images.githubusercontent.com/1247079/39806817-800a1194-5383-11e8-8a4d-a62f07348cec.png)

[2018-05-09 11:56] #19 closed, assigned to nobody

[2018-05-09 14:54] arielze commented on #25
it seems to be a leaflet issue:
https://github.com/Leaflet/Leaflet/issues/3575

closing the issue

[2018-05-09 14:54] #25 closed, assigned to nobody

[2018-05-10 09:20] astrojuanlu opened #27 "Test against several GDAL versions"
CircleCI allows using custom Docker images, which would be extremely useful to test against different versions of GDAL:

https://circleci.com/docs/2.0/custom-images/#overview

Also, the Workflows functionality is more similar to what can be found in GitLab CI:

https://circleci.com/docs/2.0/workflows/

[2018-05-10 11:43] astrojuanlu commented on #27
I amend myself: Travis CI also supports Docker https://docs.travis-ci.com/user/docker/

[2018-05-11 13:54] astrojuanlu opened #28 "Remove nodata_value from rasterize"
We should remove the `nodata_value` parameter from rasterization functions: telluric always works with masked arrays anyway, so this should remain as an implementation detail. We should still do the right thing in all cases (even when the user specifies `fill_value=0`).

cc @luciotorre

[2018-05-15 10:53] astrojuanlu commented on #7
mapboxgl-jupyter already supports most geometry types (see again https://github.com/mapbox/mapboxgl-jupyter/issues/4 and new docs https://mapbox-mapboxgl-jupyter.readthedocs-hosted.com/)

Some pending, interesting issues or additions:

* Clarification on how Mapbox API & Tokens work https://github.com/mapbox/mapboxgl-jupyter/issues/57
* Default to mapboxgl-jupyter in Jupyter Lab https://github.com

[2018-05-15 12:29] astrojuanlu opened #29 "slicing a FeatureCollection returns a list"
### Expected behavior and actual behavior

Slicing a `FeatureCollection` should return another FeatureCollection, but now it returns a list.

### Steps to reproduce the problem

[code]

### Operating system and installation details

Linux, latest telluric.

[2018-05-15 16:48] #29 closed, assigned to nobody

[2018-05-16 10:34] astrojuanlu opened #33 "Improve GeoRaster dtype conversion and stretching"
At the moment, conversions to/from `float32/64` are not implemented. This is partly because the maximum values of just single precision floats are too high (~10^38), and therefore doing a proper stretching is difficult.

On the other hand, we usually face the problem of wanting to stretch a sequence of images with the same values range.

Therefore, it should be possible to specify a range when str

[2018-05-16 12:59] astrojuanlu commented on #20
@drnextgis the hack night passed so you're free to work on this one if you still want to give it a shot!

[2018-05-19 15:17] drnextgis opened #37 "transform_attributes function doesn't respect None values"
### Steps to reproduce the problem

[code]

### Operating system and installation details

Linux, latest telluric

[2018-05-21 14:30] guydou opened #39 "empty_from_roi is not preserving affine"
Checkout this code:
[code]

returns False

I would expect it to return True

Debugging further discovers the following code in `rasterize`:
[code]

but:
[code]
return False

more details:
[code]

[2018-05-23 08:44] astrojuanlu commented on #17
I left a comment in the rasterio issue, still not sure how to proceed here.

[2018-05-23 08:55] #37 closed, assigned to nobody

[2018-05-23 09:00] astrojuanlu commented on #39
Thanks @guydou - I would also expect `GeoRaster2.empty_from_roi` to respect the ROI.

[2018-05-24 07:29] #20 closed, assigned to nobody

[2018-05-26 18:09] drnextgis opened #44 "test_geographic_crop fails with rasterio 1.0b1"
[code]

[2018-05-28 08:47] astrojuanlu commented on #44
Thanks @drnextgis. I see it's the only failure with rasterio 1.0b1, so we're okay. This is blocking #34 so I will work on it.

[2018-05-28 09:08] astrojuanlu commented on #44
With rasterio 1.0a12 (intended):

[code]

with rasterio 1.0b1 (wrong):

[code]

[2018-05-28 13:30] drnextgis commented on #18
After merging https://github.com/satellogic/telluric/pull/45 it looks like this issue is not actual any more.
https://github.com/satellogic/telluric/blob/2ec91940a5e50fed4a5f5f6c39482ceec8db7668/telluric/util/raster_utils.py#L12

[2018-05-28 13:40] #18 closed, assigned to nobody

[2018-05-28 14:40] drnextgis commented on #21
It looks like this issue cannot be solved in the general case. For example, `180.0, 90.0` cannot be transformed from epsg:4326 into epsg:3857.

[2018-05-28 14:44] astrojuanlu commented on #21
@drnextgis I agree. However, perhaps we could connect this to #43 in some way and produce a proper error when the conversion fails? Or, instead of an error, do a very small buffer and try to return something meaningful?

[2018-05-29 06:06] drnextgis opened #47 "factors argument is not respected"
`factors` argument of GeoRaster2.save is not respected after https://github.com/satellogic/telluric/commit/2ec91940a5e50fed4a5f5f6c39482ceec8db7668. Also the part of this doc related to the default value is not actual any more:
https://github.com/satellogic/telluric/blob/d7206c35c14173c350302c8eb68b2d41f4542af2/telluric/georaster.py#L535

[2018-05-29 06:37] arielze commented on #47
my fault, i should add it back, regarding the default, they where wrong and we should use the calculated instead

[2018-05-29 07:46] #28 closed, assigned to nobody

[2018-05-29 08:03] drnextgis opened #48 "Meaning of _calc_overviews_factors's blocksize argument"
@arielze I have a question related to the algorithm of overviews factors calculation:

https://github.com/satellogic/telluric/blob/d7206c35c14173c350302c8eb68b2d41f4542af2/telluric/util/raster_utils.py#L11

What is a `blocksize` argument? Is it maximum width or height of the smallest overview level (as done [here](http://www.gdal.org/gdaladdo.html), see `minsize` option). If it is than we should m

[2018-05-30 10:44] #48 closed, assigned to nobody

[2018-05-30 16:18] drnextgis opened #51 "Irrelevant exception while saving raster without affine"
[code]

[2018-05-30 17:21] astrojuanlu commented on #51
I wonder whether we should allow creating non georeferenced rasters in this way. The scope of the library is clearly geospatial data. What do you think @satellogic/telluric?

[2018-05-31 08:20] guydou opened #52 "Simplify GeoRaster reproject api"
[code]

[2018-06-01 06:12] #16 closed, assigned to nobody

[2018-06-01 06:13] astrojuanlu commented on #47
Closed in #53.

[2018-06-01 06:13] #47 closed, assigned to nobody

[2018-06-03 18:01] drnextgis opened #54 "Getting histogram fails"
[code]

[2018-06-07 06:51] astrojuanlu opened #55 "Reduce default zoom for points"
When one displays a point in telluric, the zoom level is maximum and the tiles are not shown. We should choose a sensible zoom value.

[2018-06-12 05:21] drnextgis commented on #54
Are band names supposed to be list of strings? Then we should have something like this:
[code]
here: https://github.com/satellogic/telluric/blob/87c203b875908a0e20c0cd06adcc1f0a034b1b1d/telluric/georaster.py#L523

[2018-06-19 12:08] arielze commented on #33
I was thinking of adding two more arguments to `astype`, `max_float` and `min_float` which will look like `def astype(self, dst_type, stretch=False, min_float=None, max_float=None)`.
`min_float` can fallback to `min(self.min())` and `max_float` to `max(self.max())`

[2018-06-20 12:02] astrojuanlu opened #61 "Crop size incorrectly computed for WGS84"
### Expected behavior and actual behavior

I expected `raster.crop(roi)` to produce the same result as `raster.crop(roi, raster.resolution())`, but when `raster.crs` is `WGS84_CRS`, the size is incorrectly computed, which might result in a `MemoryError`.

### Steps to reproduce the problem

[code]

The reason is this:

[code]

### Operating system and installation details

Linux, latest telluric

[2018-06-20 12:12] astrojuanlu commented on #61
I understand from the docstring of `crop` that `resolution` is assumed in m / px:

https://github.com/satellogic/telluric/blob/87c203b875908a0e20c0cd06adcc1f0a034b1b1d/telluric/georaster.py#L766

However, this line in `_prepare_other_raster`, called as part of `merge_all`, fails for WGS84 rasters:

https://github.com/satellogic/telluric/blob/87c203b875908a0e20c0cd06adcc1f0a034b1b1d/telluric/georas

[2018-06-20 13:05] astrojuanlu opened #63 "GeoRaster2 does not warn about different mask per band"
### Expected behavior and actual behavior

rasterio supports mask per dataset and not per band. However, no warning or error is emitted when attempting to create a raster with a different mask per band, which will not retain it on write & open.

### Steps to reproduce the problem

[code]

The same happens with rasters created from masked arrays:

[code]

### Operating system and installation detai

[2018-06-20 13:51] astrojuanlu opened #64 "crs is sometimes dict, sometimes rasterio.crs.CRS"
We are doing internal conversions in some places, but stronger checks are needed, especially now that comparison between `CRS` and `dict` has been deprecated in rasterio:

https://github.com/mapbox/rasterio/blob/832b697948c715b9cc04aa329368cb65ad02082e/CHANGES.txt#L4-L30

[2018-06-20 14:29] astrojuanlu commented on #33
@drnextgis all yours!

[2018-06-20 15:04] astrojuanlu commented on #39
In principle this problem was fixed in #57, but I was experimenting with the new functionality and I'm having some problems (which I should have detected when reviewing, sorry for that):

[code]

@guydou what do you think?

[2018-06-21 07:41] astrojuanlu commented on #63
@arielze proposed raising a warning upon `.write`.

[2018-06-21 07:51] astrojuanlu opened #65 "Merging non overlapping rasters is order dependant"
### Expected behavior and actual behavior

I expected that merging non overlapping rasters would always give the same result regardless of order, but it's not the case.

![results](https://user-images.githubusercontent.com/316517/41704962-f011cc4a-7537-11e8-9643-b4ae3a526bc4.png)

### Steps to reproduce the problem

[code]

### Operating system and installation details

Latest telluric, Linux.

[2018-06-21 13:40] arielze commented on #33
There are few use cases we need to take care of:
1. When stretch is needed, for example when the values on the raster array are between -1 and 1, and it is requested to be converted to `uint8` (-1=> 0, 1=> 255).
we have two options:
1.1 The user gives the range borders (`max_float`, `min_float`)
1.2 Retrieving `max_float` and `min_float` from the array. this can work converting from `float -> int`

[2018-06-21 15:54] astrojuanlu commented on #65
A simpler case:

[code]

The first order uncovers data that was originally masked!

[code]

While the second order discards the first raster data:

[code]

We have to discuss what would be the expected output here, especially in the context of per-dataset or per-mask bands.

[2018-06-23 00:04] astrojuanlu commented on #65
The way to return the same result regardless of order when merging two rasters is:

[code]

However, in this way `merge_all` does not carry the necessary context to produce the final result expected with the set of four rasters originally posted:

<details>

[code]
</details>

The solution for this particular case would be:

[code]

[2018-06-23 00:11] astrojuanlu commented on #65
Options:

1. Allow per-band masks in `merge` and `merge_all`. This would help carrying on the necessary context to always produce the expected result.
2. Rewrite `merge_all` to not use pairs of `merge` calls anymore, but carry the whole list of images instead.
3. ?

One important thing to keep in mind is that we should never unmask a pixel from a raster, which is the root cause of this issue.

[2018-06-28 12:34] guydou opened #67 "Reproject of rasters loads the raster to memory"
Today reprojecting a raster forces to load the raster to memory, it is bad if you want to project a raster that is big

The project code I am referring is:
https://github.com/satellogic/telluric/blob/master/telluric/georaster.py#L945

it is loading everything to memory because of this line:
https://github.com/satellogic/telluric/blob/master/telluric/georaster.py#L969

and this line:
https://github

[2018-06-28 12:39] drnextgis commented on #33
@arielze thank you for your comments, I have tried to take them into account. Please review PR. https://github.com/satellogic/telluric/pull/66

[2018-06-28 12:41] guydou opened #68 "Merge to produce metadata of the merge process"
We need to know know for each pixel that was produced using Merge, MergeAll for which GeoFeature it came.

The use-case here is to apply to a pixel generated by merge the attributes defined in the GeoFeature the pixel came from

I was thinking maybe to return a raster with integers as values, each integer is  the index of the GeoFeature in the FeatureCollection

But we can discuss other ideas as w

[2018-06-29 11:32] astrojuanlu commented on #54
The histograms part is in a sorry state at the moment. Let's talk to @slava-kerner and @arielze to do some cleanup there. They are also related to the `stretch_histogram` functionality that you touched in #66.

[2018-06-29 11:56] astrojuanlu commented on #67
It appears that it's feasible to use `rasterio.Band` objects with in-memory files, but I don't think this prevents loading the data. Sure the bands are read one by one, but what about the destination raster?

[code]

[2018-06-29 16:05] drnextgis commented on #44
Fixed via https://github.com/satellogic/telluric/pull/46

[2018-06-29 16:05] #44 closed, assigned to astrojuanlu

[2018-07-01 07:57] guydou commented on #67
We need to provide a single interface for rasters that are fully loaded to memory and rasters that are too big to be loaded to memory,

If what I mentioned in my comments will not help us, them so be it, I didn't check it.

@drnextgis will need to figure it out

[2018-07-02 13:16] drnextgis commented on #33
Fixed via https://github.com/satellogic/telluric/pull/66

[2018-07-02 13:16] #33 closed, assigned to nobody

[2018-07-02 16:59] astrojuanlu commented on #64
The second RC of rasterio is out, and this is likely going to break for us very soon.

[2018-07-04 08:52] astrojuanlu commented on #64
In progress.

[2018-07-08 20:47] AmitAronovitch opened #75 "implement GeoRaster2 crs conversion"
Required some way to convert a GeoRaster from one crs to another (i.e. raster would be identical: crs & affine modified, but reprents the same coordinates in the world).
e.g. convert raster from mercator to UTM or to Geographic.

Note that there is a `project()` method, which might be intended for this but it is currently empty. AFAIU the project() method of the old GeoRaster is a generalized vers

[2018-07-08 21:01] AmitAronovitch commented on #21
We (me and @moshe742) looked at this, and it seems that the reason it does not work is because mercator is limited in latitude so cannot hold the vector.
However, it is still possible to do the cropping if we represent everything in WGS84, and then convert back (Mecator must be able to hold the result, because the cropped raster is always smaller than the original one).
The general algorithm we wr

[2018-07-08 21:14] astrojuanlu commented on #75
This is related to #52

[2018-07-09 06:40] guydou opened #76 "get_tile - float division by zero"
[code]

outputs:
[code]

Telluric versions:
latest, master

[2018-07-09 17:01] #61 closed, assigned to nobody

[2018-07-09 17:01] #39 closed, assigned to nobody

[2018-07-09 17:01] #65 closed, assigned to nobody

[2018-07-09 18:59] #64 closed, assigned to astrojuanlu

[2018-07-09 19:09] astrojuanlu commented on #76
The reason is that the affine is flipped:

[code]

This has been already reported in other places but we haven't decided what to do with this case.

[2018-07-10 06:51] arielze opened #79 "GeoRaster2 `__equal__` is not always right"
There are cases when two rasters have the same information, but comparing them returns `False`, for example:
1. two rasters with the same information and different CRS
2. two rasters with opposite affine scale and transformed image data

Here is a code example:
[code]

[2018-07-10 09:09] #76 closed, assigned to nobody

[2018-07-12 08:22] arielze opened #80 "Loading and saving of a GeoRaster does not preserve raster attributes"
There are cases where attributes of a loaded raster are not preserve on saving:
1. When loading a raster without tiling and /or overviews, the raster is saved tiled with overviews.
1. When the overviews of the original raster are different than the on the save method

The source of that is we don't record this raster attributes on loading

[2018-07-15 23:13] drnextgis opened #85 "GeoRaster2.align_raster_to_mercator_tiles is broken"
[code]

Also it is not clear where is `_tile_to_window` method comes from.

[2018-07-16 06:20] guydou commented on #85
I am not using this version of the code,

I wrote my own version in a different branch,

but I think that in the end this method doesn't belong to the this file and
will be remove totaly

On Mon, Jul 16, 2018 at 2:13 AM, Denis Rykov <notifications@github.com>
wrote:

[2018-07-21 11:16] drnextgis opened #93 "Reprojecting south-up images"
All works as expected for north-up images. But for south-up (does telluric intent to support such images?) we have some problems are appeared at least while reprojecting. I've tried to rescale images and faced with the following issues:

- in-memory reprojection switches sign of affine `e`
- result image of non-in-memory reprojection is matched with `rasterio warp` but not with `gdalwarp`
- result

[2018-07-21 11:38] drnextgis commented on #75
@AmitAronovitch could you test a new reproject API? It was merged yesterday. Now you can reproject your raster data in such way:

[code]

[2018-07-21 11:40] drnextgis commented on #52
@guydou can we close this issue?

[2018-07-22 16:21] astrojuanlu commented on #52
I think we should!

[2018-07-22 16:21] #52 closed, assigned to nobody

[2018-07-22 16:21] astrojuanlu commented on #93
I would say yes: https://github.com/satellogic/telluric/pull/78

[2018-07-23 07:53] drnextgis opened #94 "Retain internal mask while reprojecting"
Internal mask is lost after reprojection rasters which are not loaded into memory. Possible ways to solve this solution: https://gist.github.com/drnextgis/ec24f73a895d8602a2d55d2b8d56bd3c

[2018-07-23 09:36] astrojuanlu commented on #94
Great research @drnextgis! I would prefer not using sidecar files, I think it would complicate things too much. Between your options 2) and 3) I don't see a clear winner, so I would go for the simpler one.

As a more general question, do you think alpha bands are better supported than internal masks? I know internal masks give us the opportunity to use different masks per band, but it's not someth

[2018-07-23 09:48] astrojuanlu commented on #93
I now saw the notebooks (glad to see you also study the mask issue, ref #94).

I think we should support these images, in the sense that operations on them should return consistent results. The question for me is how.

[2018-07-24 15:17] astrojuanlu opened #97 "Non shrunk masks are assumed in some parts of the code"
There is one place where we take care of a shrunk mask (that is: when `numpy.ma` decides to replace an array of `False` values with a `np.ma.nomask` scalar value):

https://github.com/satellogic/telluric/blob/7b393a0e0b3ea0e0661334865cc35776717df1a8/telluric/georaster.py#L1096-L1097

However, there are other places where we don't protect ourselves against this case, for example:

https://github.co

[2018-07-24 15:38] drnextgis commented on #97
One of the possible solution is using `numpy.ma.getmaskarray(image)` for getting mask.

[2018-07-30 08:57] #85 closed, assigned to nobody

[2018-07-30 08:58] astrojuanlu commented on #75
I think we can close this, @AmitAronovitch feel free to tell us if this isn't what you expected!

[2018-07-30 08:58] #75 closed, assigned to nobody

[2018-07-30 08:58] astrojuanlu commented on #68
Fixed in #91!

[2018-07-30 08:58] #68 closed, assigned to nobody

[2018-07-30 08:59] astrojuanlu commented on #67
Fixed in #87.

[2018-07-30 08:59] #67 closed, assigned to nobody

[2018-07-30 09:00] astrojuanlu commented on #27
We're already testing against several Python versions

[2018-07-30 09:01] astrojuanlu commented on #11
Will do when we release telluric 0.2.

[2018-07-30 09:06] astrojuanlu opened #102 "Release 0.2"
* [x] Beta release
* [x] https://github.com/satellogic/telluric/issues/63
* [x] Release notes
* [ ] Documentation cleanup
* [ ] Tag, announce

If you think something should go into v0.2.0, say it here.

[2018-07-31 11:16] arielze commented on #102
can we start putting here the release notes to see in what we have advanced from previous release?

[2018-07-31 12:19] arielze opened #103 "an empty feature collection fails on `property_names`"
whenever you try to access `property_name()` of an empty `FeatureCollection` you get an exception: `KeyError: 'pop from an empty set'`

reproduce:
[code]

[2018-08-06 07:59] guydou opened #104 "Debug mode"
We should have debug mode that will help us understand what is going on.
In this mode we should see:
1. How much time take computation
2. When using 3rd parties what are the arguments that are passed to them
3. ...

[2018-08-06 16:33] astrojuanlu commented on #102
Sure! I will start working in some release notes tomorrow, and release a beta after that

[2018-08-07 08:29] astrojuanlu opened #106 "Write down development process"
Ideas after telluric 0.2.0 is released (#102):

* Automate release notes using https://github.com/hawkowl/towncrier (see https://pip.pypa.io/en/stable/development/#adding-a-news-entry)
* Explicitly use trunk-based development (https://www.toptal.com/software/trunk-based-development-git-flow)
  - IMHO, the first two criticism points of trunk-based do not really apply because changes must be approve

[2018-08-07 12:57] guydou opened #107 "Merge of rasters that don't share projection fails"
it fails becasue of this line https://github.com/satellogic/telluric/blob/master/telluric/georaster.py#L223

the _prepare_other_raster returns None

[2018-08-07 12:57] guydou opened #108 "Get_tile should return a raster which is projected to web_mercator"

[2018-08-08 06:20] guydou opened #110 "Acquisition of VRT files"
we need to support :
[code]

and then all of our apis should work

that could be trivial we just need to test it

[2018-08-08 11:02] astrojuanlu commented on #107
Can't reproduce this with some sample data:

[code]

@guydou can you please provide some more information?

[2018-08-08 11:10] astrojuanlu commented on #108
While investigating this issue I noticed another thing:

![screenshot_2018-08-08 _issue_get-tile-mercator](https://user-images.githubusercontent.com/316517/43833850-6d962a04-9b0c-11e8-8c4c-3ab7a2f65ab8.png)

I get the same result regardless of the `masked` and `resampling`. Is this to be expected?

[2018-08-08 11:15] astrojuanlu commented on #108
Also, `GeoRaster2.get_tile` (internally `GeoRaster2.get_window`) fails for in-memory rasters:

[code]

[2018-08-08 11:21] astrojuanlu commented on #108
Confirmed original issue:

[code]

[2018-08-09 06:32] guydou commented on #108
I think you should open on each of the issues here an issue of its own,

about the mask, the mask will not have an effect on a raster that nodata value set, the paramter tells rasterio not to read the mask from the raster, we are doing it, because when you have no-data value set up rasterio is not using the overview masks

[2018-08-09 06:37] astrojuanlu opened #113 "Should GeoVector have a method to convert to/from a GeoJSON string?"
It's very tempting to do

[code]

but this won't work because of https://gist.github.com/sgillies/2217756#gistcomment-1397048. Instead, the correct code is

[code]

It's a very simple function call, but we still could add it as a method.

[2018-08-09 06:38] astrojuanlu opened #114 "Add new GeoVector creation methods"
This includes:

* Shapes, so the user doesn't have to do `from shapely.geometry import *`
* Empty GeoVector objects

[2018-08-09 06:40] astrojuanlu opened #115 "Simplify GeoVector.from_bounds"
The `GeoVector.from_bounds` method is very safe because it never allows you to mess it up by only accepting keyword arguments, but that makes it also a bit slow to type. Perhaps we should simplify it.

[2018-08-09 06:42] astrojuanlu opened #116 "Delegated methods and properties cannot be discovered"
Delegated methods and properties do not show up in the docs or in autocomplete because they are lazily loaded. We should look for alternative ways of doing the same thing.

[2018-08-09 07:03] astrojuanlu opened #117 "Add quick operations for GeoVectors"
Ideas:

* `gv1 | gv2` does `gv1.union(gv2)`
* `gv1 & gv2` does `gv1.intersection(gv2)`
* `gv1 + gv2 + gv3` does `FeatureCollection.from_geovectors([gv1, gv2, gv3])` (nice for visualization)

Opinions? @slava-kerner agrees.

[2018-08-09 07:13] astrojuanlu opened #118 "GeoRaster2.get_tile messes up masked values in some cases"
This code:

[code]

produces this image in the notebook:

![Faulty tile](https://user-images.githubusercontent.com/316517/43833850-6d962a04-9b0c-11e8-8c4c-3ab7a2f65ab8.png)

This is what @guydou said about it in #108:

[2018-08-09 07:16] astrojuanlu opened #119 "GeoRaster2.get_window and get_tile fail for in-memory rasters"
When the filename is absent, `GeoRaster2.get_window` and `get_tile` fail:

[code]

[2018-08-09 07:17] astrojuanlu commented on #108
Done: #118 and #119

[2018-08-09 08:26] astrojuanlu commented on #102
Beta released, changelog in place. We can give some days for bug reports to come, and release when I'm back from vacation, August 22nd.

[2018-08-09 08:37] astrojuanlu opened #120 "GeoRaster2 cleanup"
### Review not implemented methods

List:

* `attributes`
* `apply_transform`
* `rectify`
* `vectorize`
* `add_raster` (and `__add__`)
* `to_tiles`
* `from_tiles`

### Unify docstrings to NumPy standard

https://numpydoc.readthedocs.io/en/latest/format.html

[2018-08-09 08:38] astrojuanlu commented on #110
Before checking that "all our apis should work", perhaps we should do a bit of API cleanup #120

[2018-08-09 13:07] drnextgis commented on #118
This is consequence of having `nodata=0` in GeoRaster2 constructor. If we change this row: https://github.com/satellogic/telluric/blob/9cabe2a974637297134b711cda8af61628026ec1/telluric/georaster.py#L1598 to:
[code]

then image looks as expected:

![image](https://user-images.githubusercontent.com/866124/43900842-29dea890-9c10-11e8-851c-17163effa6f6.png)

[2018-08-13 11:38] guydou commented on #113
I think that we don't need to add a method, otherwise we will need to add method to serialize gv to many formats, no?

[2018-08-13 11:39] guydou commented on #114
@Juanlu001 I don't get this issue, can you add examples?

[2018-08-13 15:19] guydou commented on #119
proposed solution is to load save the in-memory raster to memory
and then use everything the same

for example:
https://github.com/satellogic/telluric/blob/reading_in_memory_raster/telluric/georaster.py#L541
and
https://github.com/satellogic/telluric/blob/reading_in_memory_raster/telluric/georaster.py#L1610

WDYT?
@Juanlu001  @arielze @drnextgis

[2018-08-13 15:27] arielze commented on #119
in my opinion `get_tile` and `get_window` should call crop instead of the opposite way we are going today

[2018-08-16 06:40] arielze opened #124 "in consistency in roi of get_tile"
the roi (footprint) of the resulting tile from `raster.get_tile(x, y, z)` is not equal to the roi of `GeoVector.from_xyz(x, y, z)` which theoretically.

[2018-08-20 06:38] astrojuanlu commented on #114
The idea would be to replace

[code]

by

[code]

or even

[code]

(last change not related to this particular issue)

[2018-08-21 08:20] astrojuanlu commented on #7
mapboxgl-jupyter now supports all the geometry types we need, but the rest of the issues remain.

[2018-08-21 08:54] astrojuanlu commented on #17
In principle they improved the warnings https://github.com/mapbox/rasterio/commit/0c85285e6c0823a0f30a0dd6f6986173d91ddaaf, but we're somehow masking them.

[code]

[2018-08-21 09:01] astrojuanlu commented on #17
Well:

https://github.com/satellogic/telluric/blob/fc887e1817a149a77b5c38d2ba44ee8ecc27c191/telluric/georaster.py#L528-L533

I think we should allow these warnings, given that we can't do anything about this issue.

[2018-08-21 09:37] astrojuanlu commented on #114
I didn't recall that there's already `point` and `line`. Adding `polygon` and `empty`.

[2018-08-21 10:15] astrojuanlu commented on #117
Adding these methods here adds more tension on the `GeoFeature` side too, because it needs code duplication (see also #116). I will add them for `GeoVector` objects for the moment.

[2018-08-21 12:33] #17 closed, assigned to nobody

[2018-08-21 12:33] #63 closed, assigned to nobody

[2018-08-21 12:33] #103 closed, assigned to nobody

[2018-08-21 12:33] #114 closed, assigned to nobody

[2018-08-21 12:33] #115 closed, assigned to nobody

[2018-08-21 12:33] #117 closed, assigned to nobody

[2018-08-21 13:12] astrojuanlu opened #129 "Unexpected error on cleanup"
I got this while playing in a Jupyter notebook:

[code]

can't really reproduce, it happened when I reran a cell with some `import` statements.

[2018-08-21 13:27] astrojuanlu commented on #97
Been hit by this today again, will fix it.

[2018-08-21 15:13] #97 closed, assigned to nobody

[2018-08-21 15:13] #129 closed, assigned to nobody

[2018-08-22 09:44] guydou opened #133 "Convert to cog should perserve mask"
At the moment convert_to_cog know only to preserver no-data masking

[2018-08-28 06:58] drnextgis opened #138 "New option for cropping inside mask method"
I think it would be handy to have boolean `crop` parameter in `GeoRaster2.mask`. The similar functionality you can find in QGIS `Clip Raster by Mask Layer` tool:
![screenshot from 2018-08-28 13-43-111](https://user-images.githubusercontent.com/866124/44705665-7b627a80-aac9-11e8-9c75-b812e662f252.png)

Current state:

[code]

New `crop` parameter:

[code]

[2018-09-06 22:09] AmitAronovitch opened #144 "suspect bug in georaster save"
I suspect the following line is a bug:

https://github.com/satellogic/telluric/blob/8b84194d4a3248918bb74d01073d8f4d0b9bbc9c/telluric/georaster.py#L748

* The sub-expression  `self.image.mask is False` should always return `False`, because `is` is not a vectorized operation, and the mask is an array (so never the same object as `False`).
* Hence the computed index-mask will be all false, and the l

[2018-09-09 05:51] guydou commented on #144
without yet understanding if the is a bug or not, your first bullet is incorrect, `self.image.mask is False` is a valid expression when there is no mask, in such case numpy mask array has a single value of `False` and not an array

[2018-09-09 08:08] guydou opened #145 "GeoFeature with Raster"
`GeoFeature` is a concept in which we attach properties to a Geo-referenced object.

In the current implementation we are supporting only vectors, but rasters are also Geo-referenced object therefore we should support them as well.

[2018-09-09 08:09] guydou commented on #145
Started to work on this in this branch: https://github.com/satellogic/telluric/pull/142

[2018-09-17 07:27] astrojuanlu commented on #144
In any case, `self.image.mask is np.ma.nomask` would be more explicit I think.

[2018-09-17 09:41] astrojuanlu opened #151 "Migrate Travis CI from service to app"
https://developer.github.com/changes/2018-04-25-github-services-deprecation/

[2018-09-17 09:50] astrojuanlu commented on #151
Owners intervention required @luciotorre @gilgamezh @gerasdf

[2018-09-25 11:31] drnextgis commented on #11
telluric is already available on conda-forge: https://anaconda.org/conda-forge/telluric

[2018-09-25 11:31] #11 closed, assigned to astrojuanlu

[2018-09-28 19:42] astrojuanlu commented on #22
Hit by this today, I might try and fix it.

[2018-10-01 16:05] astrojuanlu commented on #22
There is a broader question here, that is: what to do with an operation that produces a result that is not representable in the original CRS?

This is exactly the case of the geodesic buffering: imagine that we have a point in EPSG:3857 close to 85 deg latitude. If we do a big buffer, the result can contain the pole, which is not representable in EPSG:3857 anymore. Naturally we would "cut-off" thi

[2018-10-01 19:08] astrojuanlu commented on #22
Cartopy already visualizes it correctly:

![index](https://user-images.githubusercontent.com/316517/46309542-e9182f80-c5bc-11e8-86ea-d1588da17c9b.png)

But the core problem of telluric is still that a `reproject` might turn a valid geometry into an invalid one:

[code]

![screenshot_2018-10-01 geodesic buffering](https://user-images.githubusercontent.com/316517/46309625-22e93600-c5bd-11e8-8b12-a01

[2018-10-02 14:54] astrojuanlu opened #154 "Reproject keeps straight lines straight regardless of destination CRS"
Reprojecting a straight line (or a rectangle) to a different projection will almost always bend the line into a curve. However, `GeoVector.reproject` does not have this notion:

[code]

![screenshot from 2018-10-02 16-45-29](https://user-images.githubusercontent.com/316517/46356498-26cf9380-c663-11e8-85b1-980117fc9568.png)

In this particular case, it's only reprojecting the two end points, theref

[2018-10-02 14:58] astrojuanlu commented on #22
See also #154.

[2018-10-02 19:41] astrojuanlu commented on #55
As simple as:

[code]

[2018-10-02 19:55] astrojuanlu commented on #55
...15 is an arbitrary value that, for the case of our default basemap (stamen terrain), does not always contain data in all regions.

[2018-10-06 16:15] samapriya opened #155 "404 and 500 errors on Download link & URL Structure"
Why are download templates and link structure different for example

[code]

Getting lot of 404 and 500 errors for links
here is an example link
[code]

### Expected behavior and actual behavior

### Steps to reproduce the problem

### Operating system and installation details

[2018-10-07 06:09] guydou commented on #155
hi @samapriya, thanks for reporting this issue,

The reason you got this bad behavior was due to a inner team process that caused us to partial deploy a new feature.

We are working on changing the raster url for  `/rasters/raster.tif?token=fdfdfadf` to `/scene/token/<token>/raster/raster.tif` this is why you saw the two types of urls

The reason some of them did not work for you is that part of t

[2018-10-07 06:52] #155 closed, assigned to nobody

[2018-10-17 04:50] astrojuanlu commented on #14
Related: https://twitter.com/PyTrollOrg/status/1051902634783838208

[2018-10-17 06:46] mraspaud commented on #14
Just replying to this thread, way later, sorry. I just wanted to mention that pyresample is in LGPL license, if that makes a difference.

Regarding the developer week, it would be the perfect occasion to dive into pytroll if you are interested !

[2018-10-18 15:45] drnextgis opened #159 "GeoRaster reduce doesn't support fully masked rasters"
[code]

[2018-10-23 14:22] guydou commented on #118
it looks a projection issue and not masking

crop with out projection
![image](https://user-images.githubusercontent.com/93029/47367315-20738b00-d6e8-11e8-8657-eee3871dba15.png)

and then projection

![image](https://user-images.githubusercontent.com/93029/47367379-400ab380-d6e8-11e8-9563-bb29ce0bee0f.png)

[2018-11-01 13:41] guydou opened #170 "upgrade to fiona 1.8"
it seems that the following tests are failing when we use fiona 1.8:
https://travis-ci.org/satellogic/telluric/builds/449330787

it didn't happen on python 3.6, weird

maybe it is not related to fiona,

[2018-11-02 14:38] drnextgis commented on #170
It is related to a new version of Fiona. Fixed via https://github.com/satellogic/telluric/pull/171. The issue that occurred above doesn't matter what Python version is used. The main reason is a reversing dictionary with the same values:

[code]

[2018-11-03 13:30] #170 closed, assigned to nobody

[2018-11-04 07:35] guydou opened #172 "show raster on map"
Telluirc support visualizations of rasters in a notebook,

The problem is that this visualization breaks when we have a raster that is bigger than the memory of the machine

Moreover there is no way to zoom in

I would like to suggest to visualize the raster as a layer on a map, that allow zooming in and out

As first step we could at least visualize only scaled down version of the raster

[2018-11-04 09:54] guydou opened #173 "GeoRaster.getWindow lazy"
I think GeoRaster.getWindow should not materialize the data of the raster in case the raster is off memory.

I think using VRT we can serialize the raster to get a specific window.

It is important to do that, so we could create GeoRasters that points to windows, these raster will behave the same as they behave today,
but we could also create list of windows and distribute it later to run apply_tr

[2018-11-18 11:44] #172 closed, assigned to arielze

[2019-01-15 10:36] #102 closed, assigned to nobody

[2019-01-17 07:56] drnextgis commented on #144
@AmitAronovitch I'm going to close this issue with https://github.com/satellogic/telluric/pull/233. Does it look good to you?

[2019-01-17 08:19] #110 closed, assigned to nobody

[2019-01-17 08:19] #145 closed, assigned to nobody

[2019-01-20 11:54] AmitAronovitch commented on #144
If #233 is merged as is, this can be closed, but see my comment there.
re @guydou [comment above](https://github.com/satellogic/telluric/issues/144#issuecomment-419692834): turns out that actually it is not a real False, but a "numpy scalar bool(False)", so the `is` condition is still false even in this case.

[2019-01-21 10:22] #144 closed, assigned to nobody

[2019-04-03 15:42] astrojuanlu opened #242 "Consider upgrading to pyproj > 2"
From [this comment](https://github.com/geopandas/geopandas/issues/65#issuecomment-479543436)

see https://pyproj4.github.io/pyproj/html/optimize_transformations.html

And also, it seems that the transformations can be cached.

[2019-04-26 15:20] astrojuanlu commented on #242
In any case, unconditionally pinning pyproj can be problematic when interacting with other projects.

I understand that the reason is that there are no pyproj >= 2 wheels for Windows, is that right?

[2019-04-30 15:18] drnextgis commented on #242
I've made PR https://github.com/satellogic/telluric/pull/245 to add support of pyproj > 2  but pyproj project doesn't provide wheels for Python 3.4 and this is a reason why tests for 3.4 are failed. What is the better way to solve it?

[2019-04-30 15:20] astrojuanlu commented on #242
Left a comment in the PR!

[2019-04-30 16:26] drnextgis commented on #242
Solved via https://github.com/satellogic/telluric/pull/245

[2019-04-30 16:26] #242 closed, assigned to nobody

[2019-06-10 20:37] juanifioren opened #250 "ImportError with ipyleaflet library"
This happens when using `ipyleaflet==0.10.3`

https://github.com/jupyter-widgets/ipyleaflet/releases/tag/0.10.3

[code]

[2019-06-10 20:47] juanifioren commented on #250
Merge request proposal: https://github.com/satellogic/telluric/pull/251

[2019-06-10 21:58] astrojuanlu commented on #250
Root cause: https://github.com/jupyter-widgets/ipyleaflet/issues/375

[2019-06-10 21:59] astrojuanlu commented on #250
Upstream fix https://github.com/jupyter-widgets/ipyleaflet/pull/376

[2019-06-11 12:47] #250 closed, assigned to nobody

[2019-06-19 11:41] snat07 opened #252 "AttributeError: 'FeatureCollection' object has no attribute 'has_raster'"
[code]

[2019-06-19 12:32] drnextgis commented on #252
Cannot reproduce it here. Can you please show how are you creating the `fc` object?

[code]

[2019-06-19 14:52] astrojuanlu commented on #252
I think the problem is that the first element of the `FeatureCollection` was a `FeatureCollection` itself, which in principle is not supported:

[code]

Perhaps it should give a better error message.

[2019-07-13 07:44] astrojuanlu commented on #242
Second time I arrive to the same place :) Will open an issue for this.

[2019-07-13 07:46] astrojuanlu opened #253 "Improve projection transformation performance"
As suggsested in [this comment](https://github.com/geopandas/geopandas/issues/65#issuecomment-479543436) and [this other comment](https://github.com/pyproj4/pyproj/issues/187#issuecomment-475995699), we should use the new `pyproj.Transformer` functionality to speed up projection transformations:

https://pyproj4.github.io/pyproj/stable/optimize_transformations.html

[2019-09-08 11:13] AmitAronovitch opened #257 "cannot save mutable Georaster after changes"
Typical usecase for mutable georaster is for chaning properties of existing rasters:
[code]

However, this fails with the following
[code]

Note that this is only because of the lazy loading. If you add `lazy_load=False` to the open call above, everything works fine.

Possible remedies:
1. On `save`, if output path is equal to input and lazy_loaded: load before saving (instead of trying to copy to

[2019-11-12 19:11] astrojuanlu commented on #23
More info:

* GDAL splits geometries before reprojection in certain cases https://github.com/OSGeo/gdal/commit/cc92ccb7a01321efed8cfc820fc7215aba12b1f1
* PROJ has some options to change how longitude wrapping works https://proj.org/usage/projections.html#longitude-wrapping and to change the prime meridian https://proj.org/usage/projections.html#prime-meridian
* Shapely suggests cutting by a meridi

[2019-11-26 16:39] AmitAronovitch opened #260 "supply telluric-core package with less dependencies"
### The problem

Currently, telluric has lots of dependencies.

In particular, when doing batch georaster processing, dependencies like "folium" and "ipyleaflet" bring on the whole of ipython dependencies tree, which is complex and easy-to-break, but we do not actually need this UI / jupyter functionality.

In addition, a large dependency tree makes the package hard to install, and hurts usability

[2019-11-26 18:29] astrojuanlu commented on #260
I like the "medium" option, and in fact it's very similar to what Dask does. In fact, Dask has a dual solution:

* For pip users, `pip install dask` only installs de core and `pip install dask[complete]` installs everything.
* For conda users, `conda install dask` installs everything and `conda install dask-core` installs only the core.

These are our dependencies right now:

https://github.com/sa

[2020-01-21 11:15] astrojuanlu opened #263 "test_geographic_crop_with_resize failing locally"
Not sure what's going on:

[code]

This is the output of `pip freeze`:

<details>

[code]
</details>

[2020-01-21 11:26] astrojuanlu commented on #263
It seems that there's some sort of caching going on. However, it's been a while since I last ran these tests and it's not entirely clear to me how to reset it. Doing a `rm -rf * && git restore .` didn't work, but creating a new Python environment and a clean telluric clone did. It would be nice to have a clean command somewhere, whatever it has to do, or leverage temporary directories for the test

[2020-01-21 22:51] AmitAronovitch opened #265 "memory leak in raster_opener?"
This is a followup from #262

Implementation `save_cloud_optimized` contained the following block:

[code]

It appears that this leaks memory.

It was suggested [there](https://github.com/satellogic/telluric/pull/262#issuecomment-576566339) that we should make _raster_opener into a proper context manager and take care of properly releasing resources.
Moving discussion here, because #262 can be sol

[2020-01-21 23:15] AmitAronovitch commented on #265
continuing discussion from #262 -

Actually,  I now see that my comment [there](https://github.com/satellogic/telluric/pull/262#issuecomment-576799077) was mistaken - it appears that _raster_opener is NOT a context manager, but in fact just a function that returns a `rasterio` file object.

So - if rastrio files provide a context manager - it should already close everything when the context is exi

[2020-01-22 15:25] arielze commented on #265
about the memory leak, I wouldn't run and blame `_raster_opener` because it might be `self.source_file` which in some cases creates an `in-memory-raster`

[2020-01-28 10:38] astrojuanlu opened #268 "Switch to new pyproj.crs.CRS?"
Some time ago we observed a performance degradation in recent versions of rasterio and pyproj that we discussed with the rasterio developers here: https://github.com/mapbox/rasterio/issues/1685

however, it turns out that:

1. rasterio does not use pyproj at all, on purpose. so the pyproj version had nothing to do with it.
2. recent versions of pyproj introduced a `CRS` class, similar to rasterio

[2020-01-28 15:03] AmitAronovitch commented on #268
For rasters, it would probably affect performance negatively if at all, because you'd have to convert them back to rasterio format before calling the underlying function. For vectors it might improve (in general - who knows - I think georaster2 has methods that actually use pyproj, and there are methods that combine vectors and rasters).

Either way, in situations I can think of the coordinate tra

[2020-01-28 18:51] astrojuanlu opened #269 "Shapely 1.7 breaks `test_polygonize_line_square_cap_style`"
[code]

[2020-02-12 10:18] astrojuanlu commented on #268
In line with https://twitter.com/geopandas/status/1227286762223001602

[2020-06-26 23:49] drnextgis commented on #269
I think it is because of the [GEOS 3.8.0](https://github.com/shapely/shapely-wheels/commit/31dca636ff4bab32a46eb9db925898717a7c2bf7). Faced with the same issue here.

[2020-08-12 16:13] astrojuanlu commented on #260
I might give this a try these days.

[2020-09-15 14:26] astrojuanlu commented on #268
Related: https://github.com/mapbox/rasterio/issues/1685 was just fixed in rasterio 1.1.6

[2020-10-02 15:07] astrojuanlu opened #274 "Deprecation warnings"
[code]

Python 3.9 is out next Monday

[2020-10-19 16:47] astrojuanlu commented on #7
ipyleaflet now supports custom projections and a `fit_bounds` method https://github.com/jupyter-widgets/ipyleaflet/pull/737#issuecomment-712291377

On the other hand, matboxgl-jupyter looks rather abandoned and none of the issues I highlighted has been fixed. mapbox-gl-js is still active though.

[2020-11-19 11:58] #151 closed, assigned to astrojuanlu

[2020-11-19 11:58] astrojuanlu opened #275 "Migrate off Travis CI"
https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

Good, simple alternative: GitHub Actions (no admin intervention required)
Others: Circle CI, Azure Pipelines

[2020-11-19 15:52] tomaslink commented on #260
Hi! I'm going to be attacking this. Going for the "medium" solution, I think it's the simplest.
To add more documentation about this, I share the dependency graph:

![dependencies-telluric](https://user-images.githubusercontent.com/24639600/99689531-db0c1e00-2a65-11eb-9a57-550e5caa1d7c.png)

[2020-11-19 18:09] #275 closed, assigned to astrojuanlu

[2020-11-19 19:03] #260 closed, assigned to tomaslink

[2020-11-25 22:04] astrojuanlu opened #280 "Cannot import GeoVector if vis dependencies not present"
[code]

[2020-11-25 22:54] astrojuanlu commented on #263
Cannot reproduce, closing.

[2020-11-25 22:54] #263 closed, assigned to nobody

[2020-11-26 20:06] #274 closed, assigned to astrojuanlu

[2020-11-26 20:06] #280 closed, assigned to astrojuanlu

[2020-11-27 15:36] tomaslink opened #282 "Cannot import georaster.py classes if vis depedencies ar not present"
Again, if telluric is installed without [vis], there is an error trying to import matplotlib while trying to import georaster.py classes.

[2020-11-27 15:37] tomaslink commented on #282
Together with the fix for this, we should add tests for the package telluric without [vis]

[2020-11-27 17:04] #282 closed, assigned to astrojuanlu

[2021-02-02 17:36] eecarres opened #284 "Expose warp_mem_limit and num_threads parameters of rasterio reproject method"
### Expected behavior and actual behavior

Currently, reproject calls lack the ability of setting these two parameters that would allow performance to be increased

Please, refer to [their documentation](https://rasterio.readthedocs.io/en/latest/api/rasterio.warp.html#rasterio.warp.reproject) for definition of the parameters

[2021-02-04 13:21] astrojuanlu opened #286 "CI broken on master"
See for example: https://github.com/satellogic/telluric/actions/runs/535300150

[code]

[2021-02-10 09:52] arielze commented on #286
I'm mot able to reproduce the error locally

[2021-02-10 13:26] eecarres commented on #286
Hi! Did you tried with my branch? Not sure it's related, but it's the one that throw that error

[2021-02-10 13:27] eecarres commented on #286
https://github.com/eecarres/telluric/tree/add-warp_mem_limit-and-num_threads-params-to-reproject-calls

[2021-02-11 15:45] marcronq opened #287 "Modifying image attribute's dtype in a MutableGeoRaster doesn't update object dtype attribute"
When updating a `MutableGeoRaster` `image` attribute, the `dtype` attribute doesn't get updated (if it was already set) and there is no setter for this property.
For example:
[code]

In my opinion there are 2 options:
- Update `dtype` property in `image` setter
- Make `dtype` a property computed on the fly, that just returns `self.image.dtype`

I personally prefer the second option because it ligh

[2021-02-11 16:10] AmitAronovitch commented on #287
I'd just add that the same is true for the `shape`
Whatever you decide for dtype, maybe for consistency we should to to shape as well

[2021-02-11 16:29] AmitAronovitch commented on #287
re: my previous message - by `the same` I mean that we can also make shape computed-on-the-fly - for the same reasoning
(it currently IS updated in the image setter, so does not have this bug)

 What makes it slightly more complicated is the fact that currently (as opposed to dtype) a raster can have a shape even before the image is loaded - this happens if you specify a shape in the constructor.

[2021-02-12 23:21] drnextgis commented on #286
I was able to reproduce the issue and fixed it as a part of another PR: https://github.com/satellogic/telluric/pull/288

[2021-02-15 11:19] drnextgis commented on #286
Fixed.

[2021-02-15 11:19] #286 closed, assigned to nobody

[2021-02-17 11:05] marcronq commented on #287
After checking the viability of converting `dtype` and `shape` into computed properties I realized that it is not trivial. Some unit tests that deal with `vrt` rasters fail because it tries allocate too much memory to read huge arrays. Keeping them as they are allow to access those properties without memory allocation for the array.

As said by @AmitAronovitch, I think that `shape` shouldn't be an

[2021-02-17 14:17] astrojuanlu opened #290 "Rework Matrix <-> Slack bridge"
The Matrix ⇄ Slack bridge is suboptimal:

- edits not being reflected on Slack
- deleted messages not being deleted on Slack
- Slack usernames appearing as IDs on Matrix
- Matrix messages authored by matrix-user app

The maintainers have suggested disabling and re enabling again. This requires some tweaking on the Satellogic Slack side of things.

[2021-02-17 16:46] marcronq opened #291 "Minimum handling of rasters without CRS and avoid meaningless RecursionError"
It is known that `GeoRaster2` class is not designed to support non-geographic rasters.

Right now if you try to copy a raster without CRS it raises a `RecursionError` because it tries to read over and over a `None` attribute. This can be triggered with the next lines:

[code]
To avoid this exception which is not really informative, I propose to differentiate between a crs not yet read (`None`) and

[2021-02-17 19:16] #287 closed, assigned to nobody

[2021-02-22 16:10] #291 closed, assigned to nobody

[2021-06-11 08:48] PawaritL commented on #23
To cut along the meridian with Shapely, hopefully this [tutorial + code snippets](https://towardsdatascience.com/around-the-world-in-80-lines-crossing-the-antimeridian-with-python-and-shapely-c87c9b6e1513) are helpful

[2021-07-05 11:32] AmitAronovitch opened #304 "resize and similar methods should conserve raster mutability"
### Expected behavior and actual behavior

When working with `MutableGeoRaster`, one could expect that "transformation methods" such as `resize() `would also yield mutable rasters (it is also the more common usecase, since if you are building a raster yourself, and then resizing it, chances are that you might be interested in applying more transformations).

It seems that this (and other similar m

[2021-07-07 06:55] #304 closed, assigned to nobody

[2021-09-15 07:59] AmitAronovitch opened #306 "problem with nodata semantics"
Generated an skeleton issue so I can link to it from a TODO comment in the current workaround implemented in our code.
Will add details next week.

In short:

(a) Semantics of the "nodata" parameter in the constructor of GeoRaster2 are confusing, and the resulting tiff behaves differently for unit8 rasters than for uint16 rasters (the 16bit case the result is a nodata-based raster, while in 8bit i

[2021-10-10 21:16] drnextgis commented on #268
It seems `rasterio.crs.CRS` is much faster compared to `pyproj.crs.CRS` at the moment:
[code]

Pyproj dependency has been removed in https://github.com/satellogic/telluric/pull/307

[2021-10-10 21:16] #268 closed, assigned to nobody

[2021-12-14 14:16] drnextgis commented on #79
The fact that `r2c.to_png() == r1c.to_png()` is just a coincidence. The default value of `in_range` parameter of `to_png` method is `dtype` so it is equivalent to:
[code]
`to_png` method calls internally `astype`, but if we look closer at the images we are getting with `astype`:
[code]
we can see that using `astype` with `in_range='dtype'` converts all pixel values to the same value (127).

The co

[2021-12-14 19:55] drnextgis commented on #51
This seems to not be an issue anymore:
[code]

[2021-12-14 19:55] #51 closed, assigned to nobody

[2021-12-14 20:03] drnextgis commented on #253
pyproj is not being used anymore

[2021-12-14 20:03] #253 closed, assigned to nobody

[2022-02-09 11:44] enomis-dev opened #316 "Add support for RPCs"
Currently Telluric doesn't support RPCs (https://en.wikipedia.org/wiki/Rational_polynomial_coefficient).
This issue aims to centralize discussions related to this topic.
I think that the following features should be added:
1) support for rpcs in constructors (in this context it should be decided which class should be used to represent RPCs)
2) property for accessing them
3) existing interfaces suc

[2022-02-15 17:54] enomis-dev commented on #316
My first pull request covers points 1,2 and 4.
Points 3 and 5 still need to be addressed and require more discussion.
For these last points I link a very interesting project that could be used in Telluric to support operations (such as footprint, corners(), crop() and resize()) with rasters that have only rpcs https://github.com/centreborelli/rpcm

[2022-02-22 16:53] enomis-dev commented on #316
About my previous post I would like to add https://github.com/centreborelli/rpcm as dependency to Telluric to deal with rpcs.
It [allows](https://github.com/centreborelli/rpcm/blob/master/rpcm/rpc_model.py#:~:text=def%20localization(self%2C%20col%2C%20row%2C%20alt%2C%20return_normalized%3DFalse)%3A) to convert image coordinates plus altitude into geographic coordinates.
This could be exploited in

[2022-02-22 17:12] drnextgis commented on #316
Interesting.

1. Could you please give an example of which sort of problems cannot be solved without that dependency?
2. Does it make sense to consider extracting needed piece of code from rpcm (if the license allows that) and enrich [RPC](https://github.com/rasterio/rasterio/blob/master/rasterio/rpc.py) class.

[2022-02-23 11:23] enomis-dev commented on #316
I was thinking to use the [rpcm](https://github.com/centreborelli/rpcm) module to implement footprint and corner methods for raster provided with rpc but without crs and with default affine. The project is under the license BSD 2-Clause License.
Example:

[code]

Possible implementation with RPCM modul

[code]

[code]
GeoVector(shape=POLYGON ((111.446359536235 34.90388330200413, 111.391204658326 3

[2022-02-24 08:48] drnextgis commented on #316
Can you explain the difference in results? Which one is more accurate?

[2022-02-24 17:01] enomis-dev commented on #316
The differences in results come from the fact that the second solution is based on Telluric and so then rasterio. The first solution is based on this rpcm model that uses an iterative algorithm.
I compared the results with QGIS. This is the footprint of the same raster from QGIS:
[code]
As it can be easily seen the footprint is almost equal to the one calculated with "Telluric" solution.
I propose

[2022-04-01 22:13] sgillies opened #319 "Don't import rasterio.path"
Hey @drnextgis :wave: rasterio.path will be deprecated in 1.3 and removed in a future version (see https://github.com/rasterio/rasterio/pull/2424). This will affect https://github.com/satellogic/telluric/blob/1f056ef57705d092623ae62b23d68a33d13c0e07/telluric/base_vrt.py#L7.

[2022-05-13 14:29] enomis-dev opened #320 "Problem with raster resizing"
Hi, I have the following problem when using Telluric's resize method.

### Expected behavior and actual behavior

I read a raster that has unique values 0,1,2
I resized it with some factors and with nearest neighbor resampling
I expect that the resized raster will not have values outside 0,1,2
I got as unique values 0,1,2,3,4

### Steps to reproduce the problem

[code]

[code]

array([0, 1, 2], dt

[2022-05-14 02:39] drnextgis commented on #320
It seems like a well known issue: https://github.com/OSGeo/gdal/issues/1923. Workaround is to skip overviews:

[code]

Output:

[code]

[2022-05-16 08:44] enomis-dev commented on #320
Thank you @drnextgis for finding the root cause!

[2022-05-16 13:38] #320 closed, assigned to nobody